---
import Body from "@/Body.astro";
import Posts from "@/Posts.astro";

import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<Body title="All of my blogs">
  <input type="search" name="search" placeholder="Search blogs" data-animate />

  <Posts {posts} />
</Body>
