---
import Body from "@/Body.astro";
---

<Body
  title="About me"
  description="I'm an under graduate CS student completing B.Tech from RCC Institute of Infornation Technology college. This is my final year and will be pass out after July 2024."
>
  <hgroup data-animate-container>
    <h1 data-animate>I'm Rishav Mandal</h1>
    <p data-animate>CS student and the creator of Fallenblogs.</p>
  </hgroup>

  <div data-animate-container>
    <p data-animate>
      Known as Fallen on GitHub.
      <span>
        I'm an under graduate CS student completing B.Tech from RCC Institute of
        Infornation Technology college. This is my final year and will be pass
        out after July 2024.
      </span>
    </p>

    <p data-animate>
      Things I have learnt over the past three years:
      <ul data-animate>
        <li>React, SvelteKit, Angular and Astro web frameworks.</li>
        <li>
          Python, Postgress, Prisma and services like Supabase, MongoDB, Cyclic
          store and Vercel store.
        </li>
        <li>
          Java, C and SQL these were required to learn for my college courses.
        </li>
        <li>Bash, Perl and Fish because I'm an Arch Linux user btw.</li>
        <li>
          Haskell for <a
            href="http://xmonad.org"
            target="_blank"
            class="contrast"
            rel="noopener noreferrer">Xmonad</a
          > and Lua for <a
            href="https://awesomewm.org/"
            class="contrast"
            target="_blank"
            rel="noopener noreferrer">AwesomeWM.</a
          >
          <br />
           Not good at those but learnt because they were needed.
        </li>
      </ul>
    </p>
  </div>

  <h6>My other project:</h6>
  <a href="https://flame-alpha.netlify.app/" target="_blank"
    ><b>Flame</b> (Work in progress)</a
  >
  <br />
  <p>
    Flame is a social media web application where you can view other users'
    posts, like, view comments and also create your own post.
  </p>

  <div data-animate-container>
    <article data-animate>
      <h5>My most loved tech stack for web</h5>
      <p><strong>Framework:</strong> SvelteKit</p>
      <p><strong>Theme:</strong> Tailwind</p>
      <p><strong>Database:</strong> Supabase</p>
      <p><strong>ORM:</strong> Prisma</p>
      <p>
        <strong>Authentication:</strong> Lucia or built-in auth provider from
        databases.
      </p>
      <p>If you want to contact me then email me at</p>
      <h4 style="text-align: center;">
        <a href="mailto:iamrishav@outlook.in">iamrishav@outlook.in</a>
      </h4>
    </article>
  </div>

  <p>
    <span>
      Currently I am learning Typescript conditional and generic types and
      building two of my personal projects
    </span>
  </p>

  <h1>My journey to learning technologies</h1>
  <p>
    After joining college, I was excited to learn tech stacks and programming. I
    started my first journey to programming with Java in my 1st year in college.
    I choosed Java bacause back then I only new very few programming languages
    and secondly Java is way too popular. But after some months my mood has
    chaned, one of my friend asked me to <span
      >try web development and boom!</span
    > My journey had stated since then.
  </p>

  <p>
    I was so amazed that how can writing codes can make beautiful contents that
    can be seen just from the web browser, nothing else is needed. This is also
    the reason <span>I love web development so much</span> that I can share what
    I want to share with the world on the world wide web which is accessible to
    almost everyone.
  </p>

  <p>
    In the past three years of learning, I have learnt
    <ul>
      <li>Web frameworks like SvelteKit, React, Preact, Astro and Angular.</li>
      <li>Gained knowledge about uncommon Javascript tricks.</li>
      <li>Have learnt advanced CSS, Tailwind, SASS.</li>
      <li>
        Advanced Javascript like <span>memoization,</span>
        <span>worker,</span>
        <span>prototype.</span>
      </li>
    </ul>
  </p>

  <p>
    Now beside web development, I have also learnt about Linux and Android. <span
      >How they work</span
    >, <span>Specially about memory management</span>. And thanks to the
    Operating System course which was in 3rd year, I have learnt a lot.
  </p>

  <p>
    I always love exploring Linux, because I'm an Arch Linux user btw and have
    had <span>kernel panics about 3 times,</span>
    <span>boot loader destroyed</span> or <span>the whole system crashed.</span>
     As I love to tikner and explore the system these fatal crashes now happen
    in my regular life.
    <br />
    <span
      >I have also built a custom kernel for my Android phone (Redmi 8A) but it
      didn't boot at all.</span
    >
  </p>
</Body>

<style>
  span {
    color: var(--contrast);
  }
  article {
    margin-block: var(--block-spacing-vertical);
    background-color: var(--footer-color);
  }
</style>
