---
import { BlogPost, Body } from "$lib/components";
import {getCollection} from 'astro:content'

const blogs = await getCollection('blog', post => process.env.NODE_ENV == 'production' ? post.data?.date : post)
---

<Body>
	<section>
		<hgroup data-animate-container>
			<h1 data-animate>Fallen&apos;s tech blogs</h1>
			<p data-animate>A final year CS student</p>
		</hgroup>
		<div data-animate-container>
			<p data-animate>
				Hi, I'm Rishav, known as Fallen on GitHub and here I share my
				experiences and discoveries in the ever-evolving world of technology.
			</p>
			<p data-animate>
				I'm an under graduate CS student completing B.Tech and with 3 years of
				experience in web development.
			</p>
		</div>
	</section>

	<section class="heading-link">
		<strong>Latest blogs</strong>
		<a href="/blog">See all</a>
	</section>

	<BlogPost blogs={blogs} count={6} />

	<a href="/blog" role="button">See all</a>
</Body>

<style>
	.heading-link {
		display: flex;
		justify-content: space-between;
	}
</style>
