---
import Body from "$com/Body.astro";
import Categories from "$com/Categories.svelte";
---

<Body>
	<hgroup>
		<h1>Fallen's Blog</h1>
		<h6></h6>
	</hgroup>

	<p>
		Hi, I'm Rishav, known as Fallen on GitHub and here I share my experiences
		and discoveries in the ever-evolving world of technology.
	</p>

	<p>
		I'm an under graduate CS student completing B.Tech and with 3 years of
		experience in web development.
	</p>

	<p class="contrast">
		Email me at <a href="mailto:iamrishav@outlook.in">iamrishav@outlook.in</a>
		 or <a href="/Resume.pdf">download my Resume.</a>
	</p>

	<a href="/about" role="button" class="contrast">More about me</a>

	<h5>Latest blogs</h5>
	<Categories client:load />
</Body>

<style>
	h1 {
		animation: wght 800ms ease-in-out;
	}

	@keyframes wght {
		from {
			font-weight: 100;
		}
		to {
			font-weight: 900;
		}
	}
</style>
