@import url('./fonts.css');

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--typography-spacing-vertical);
  font-family: Satoshi, sans-serif;
}


button,
a[role="button"] {
  padding: 0.25rem 0.875rem;
  font-size: 0.875rem;
  font-weight: 400;
}

button.chip,
a[role="button"].chip {
  border-radius: 100px;
}

article:not([data-unset]) {
  margin-block: var(--block-spacing-vertical);
  padding: var(--spacing);
}

#content article {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#content article>div:first-of-type {
  overflow: hidden;
}

#content {
  display: grid;
  gap: var(--spacing);
}

#prose>#md :is(h1, h2, h3, h4) {
  margin-bottom: calc(var(--spacing) * 2);
}

#prose {
  display: grid;
  column-gap: 2rem;
}

#prose>#toc {
  height: fit-content;
  margin-bottom: 3rem;
}

#bottom-navigation {
  display: flex;
  flex-direction: column;
  gap: var(--block-spacing-vertical);
  justify-content: space-between;
}

#bottom-navigation>:first-of-type {
  flex-shrink: 0;
}

#post-title {
  text-align: left;
}

figure#hero {
  width: 100%;
  height: 100%;
  max-height: 200px;
}

figure#hero>img {
  display: block;
  margin-inline: auto;
}

/* Media quries */
@media screen and (min-width: 768px) {
  #content {
    grid-template-columns: repeat(2, 1fr);
  }

  button.chip,
  a[role="button"].chip {
    font-size: 0.675rem;
  }

  #bottom-navigation {
    flex-direction: row;
    gap: 1rem;
  }

  #post-title {
    text-align: center;
  }

  figure#hero {
    max-height: 600px;
  }
}

@media screen and (min-width: 992px) {
  #content {
    grid-template-columns: repeat(3, 1fr);
  }

  #prose {
    grid-template-columns: calc(25vw) 1fr;
  }

  #prose>#toc {
    position: sticky;
    top: 3rem;
    max-height: calc(100vh - 6rem);
    overflow-y: scroll;
  }

  #prose>#toc a {
    font-size: 0.8rem;
  }
}