---
import { formatDate } from "$lib/utils";

interface Props {
  date: Date | string;
  showText?: boolean;
}

const { date, showText } = Astro.props;

const format = formatDate(date);
---

{showText && <span>Published {format.isRelativeTime ? "" : "on "}</span>}
<time datetime={String(date)}>{format.date}</time>
