---
import { formatDate } from "$lib/utils";

interface Props {
  date: Date | string | undefined;
  showText?: boolean;
}

const { date, showText } = Astro.props;

const format = formatDate(date);
---

{
  format && showText && (
    <span>Published {format.isRelativeTime ? "" : "on "}</span>
  )
}
{format && <time datetime={String(date)}>{format.date}</time>}
