---
import Link from "@/Link.astro";
const { links, author } = Astro.props;

interface Props {
  author: string;
  links: Array<{ href: string; name: string }>;
}

const year = new Date().getFullYear();
---

<article data-unset>
  <div class="container" style="text-align: center;">
    <h6>
      Made with <a
        href="http://astro.build"
        target="_blank"
        class="primary"
        rel="noopener noreferrer">Astro</a
      >
    </h6>

    <div id="footer-links">
      {links.map(({ href, name }) => <Link {href}>{name}</Link>)}
      <a
        href="http://github.com/Fallen-dev"
        target="_blank"
        rel="noopener noreferrer"
        data-nounderline>My GitHub</a
      >
    </div>

    <p>
      &copy;&nbsp;{year}&nbsp;{author}. All rights reserved.
    </p>
  </div>
</article>

<style>
  article {
    margin: 0;
    border-radius: 0;
  }

  article p {
    margin-block: var(--typography-spacing-vertical) 0;
  }
</style>
