<article data-unset>
  <div class="container" style="text-align: center;">
    <h6>
      Made with <a
        href="http://astro.build"
        target="_blank"
        rel="noopener noreferrer">Astro</a
      >
    </h6>

    <div class="grid">
      <a href="/about">About me</a>
      <a href="https://github.com/fallen-dev">My GitHub</a>
      <a href="/Resume.pdf">Download my resume</a>
    </div>

    <p style="margin-block: var(--typography-spacing-vertical) 0;">
      <small>&copy; 2023 Fallenblogs. All rights reserved.</small>
    </p>
  </div>
</article>

<style>
  article {
    margin: 0;
  }
</style>
