---
import Link from "@/Link.astro";
const { links, author } = Astro.props;

interface Props {
  author: string;
  links: Array<{ href: string; name: string }>;
}

const year = new Date().getFullYear();
---

<article data-unset>
  <div class="container" style="text-align: center;">
    <h6>
      Made with <a
        href="http://astro.build"
        target="_blank"
        rel="noopener noreferrer">Astro</a
      >
    </h6>

    <div class="grid">
      {
        links.map(({ href, name }) => (
          <Link {href} class="contrast">
            {name}
          </Link>
        ))
      }
      <a
        href="http://github.com/Fallen-dev"
        target="_blank"
        rel="noopener noreferrer"
        class="contrast">My GitHub</a
      >
    </div>

    <p>
      <small>&copy;&nbsp;{year}&nbsp;{author}. All rights reserved.</small>
    </p>
  </div>
</article>

<style>
  article {
    margin: 0;
  }

  article p {
    margin-block: var(--typography-spacing-vertical) 0;
  }

  a.contrast:not(.active) {
    text-decoration: none;
  }
</style>
