---
const { title } = Astro.props;
---

<nav class="container-fluid">
  <ul>
    <li><a href="/"><strong set:html={title} /></a></li>
  </ul>
  <ul>
    <li><a href="https://github.com/fallen-dev">GitHub</a></li>
    <li><a href="/Resume.pdf" role="button">Resume</a></li>
  </ul>
</nav>
