---
const { title, theme } = Astro.props;

const currentTheme = (theme === "dark" ? "Light" : "Dark") + " theme";
---

<nav class="container-fluid">
  <ul>
    <li><a href="/"><strong set:html={title} /></a></li>
  </ul>
  <ul>
    <li><a href="https://github.com/fallen-dev">GitHub</a></li>
    <li>
      <button class="contrast" id="theme">{currentTheme}</button>
    </li>
  </ul>
</nav>

<script>
  document.addEventListener("astro:page-load", () => {
    const btn = document.querySelector("button#theme")!;

    const handleToggleClick = () => {
      const html = document.querySelector("html")!;
      const isDark = html.getAttribute("data-theme") === "dark";

      if (isDark) {
        html.setAttribute("data-theme", "light");
        document.cookie = "theme=light; max-age=315360000; path=/; SameSite";
        btn.textContent = "Dark theme";
      } else {
        html.setAttribute("data-theme", "dark");
        document.cookie = "theme=dark; max-age=315360000; path=/; SameSite";
        btn.textContent = "Light theme";
      }
    };
    btn.addEventListener("click", handleToggleClick);
  });
</script>
