---
const { headings } = Astro.props;
---

<article id="toc">
  <h6>Table of contents</h6>
  {
    headings.map((data: { slug: string; depth: number; text: string }) => (
      <a
        href={"#" + data.slug}
        class="contrast"
        style={
          data.depth > 2 ? `margin-left: calc(${data.depth} * 0.25rem)` : ""
        }
      >
        {data.text}
      </a>
    ))
  }
</article>
